*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    background: #ebe8e8;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    font-size: 20px; 
}
.navbar ul{
     list-style: none;
}
.nav-center{
    display: flex;
    gap: 30px;
    padding-top: 5px;
    justify-content: space-between;
    
}
.active:hover{
    background: #dedc74;
    padding: 20px;
}
.skills:hover{
     background: #dedc74;
    padding: 20px;
}

.nav-right{
    padding-top: 5px;
    font-weight: bold;
}
.btn-contact:hover{
       color: rgb(255, 2, 133);
       background: #f8ff2a;
       padding: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
.container{
    background:rgb(167, 180, 184);
    height: 900px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 200px;

}
h2{
    text-align: center;
}

.item{
    padding: 100px;
}
label{
    font-weight: bold;
    padding: 20px;
}
.img{
    padding-top: 100px;
    width: 400px;
    padding-left: 90px;

}
input{
    padding: 15px;
}
.footer{
    background: #8f8f8f;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.f{
    
    font-weight: bold;
}
.button{
    background: #a08989;
    padding: 15px;
}
.button:hover{
    background: #000;
    color: white;
}
@media (max-width:780px){
    .container{
        flex-direction: column;
        
    }
    
}

